.DS_Store
*.zip
*.fig
*.eps
*.jpg
*.png
*.x
*.mod
*.o
*.icloud
*.out
*.numbers
*~
2Stream/input
2Stream/common
2Stream/output
Atmosphere/Tp*
Atmosphere/IRTF*
Output/*
OutputJuno/*
Plotting Stuff
SIMXS
SIMXSInterp/*.dat
NSIM*.txt
